@import '../../../Vars.scss';

.nav-hidden,
.nav-shown {
  position: fixed;
  z-index: 6;
  height: 100%;
}

.left-menu-wrapper {
  & li {
    background-repeat: no-repeat;
    background-position-y: center;

    &.small {
      height: 60px;
      line-height: 60px;
    }

    & a {
      display: block;
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 25px;
    }

    &:not(.logo):hover {
      background-color: #3a393c;
      cursor: pointer;
    }
  }

  .dashboard a {
    background-image: url("./dashboard.svg");
    background-position-x: 25px;
  }

  .campaigns a {
    background-image: url("./campaigns.svg");
    background-position-x: 25px;
  }

  .value-based a {
    background-image: url("./group-9.svg");
    background-position-x: 25px;
  }

  .expand {
    background-image: url("./arrow-right.svg");
    background-position-x: 25px;
  }

  .collapse {
    position: absolute;

    a {
      background-image: url("arrow-left.svg");
    }
  }

  .user-settings {
    position: absolute;
    bottom: 80px;

    a {
      width: 100%;
      background-image: url("./user-profile.svg");
      background-position-x: 28px;
      position: absolute;
    }
  }

  .logout {
    position: absolute;
    bottom: 80px;

    a {
      background-image: url("./log-out.svg");
      background-position-x: 30px;
    }
  }

  //ShownNav
  &.nav-shown {
    width: 285px;
    background-color: #2f2e32;

    li.nav-item {
      width: 100%;
      font-size: 16px;
      background-position-y: center;

      a {
        color: #8d8d8d;
        width: 100%;
        padding-left: 70px;
        // background-position-x: 25px;
      }
    }

    .logout {
      display: block;
      color: #8d8d8d;
    }

    .expand {
      display: none;
    }

    .collapse {
      bottom: 0;
      display: block;
      color: #8d8d8d;
    }
  }

  //Hidden nav
  &.nav-hidden {
    width: 80px;
    background-color: #2f2e32;

    .maf-logo {
      display: none;
    }

    li.nav-item {
      width: 100%;
      margin: 0;
      background-position: center;
      font-size: 0;

      &:not(.small) {
        width: 80px;
        height: 80px;
      }

      .close-btn {
        display: none;
      }

      a {
        background-position: center;
      }
    }

    .expand {
      position: absolute;
      bottom: 0;
      border-top: 1px solid #212529;
    }

    .collapse {
      display: none;
    }
  }
}

@media only screen and (max-width: $bp_desktop_xs) {
  .left-menu-wrapper {
    li {
      height: 50px;
      line-height: 50px;

      &.logo {
        height: 70px;
        line-height: 70px;
      }
    }

    .maf-logo {
      width: 0;
    }

    .logo a {
      background-color: #2f2e32;
      background-image: url("./logo-gold.png");
    }

    .user-settings {
      bottom: 50px;
      border: none;

      // a {
      //   background-position-x: 28px;
      // }
    }

    .close-btn {
      padding-right: 10px;
      position: absolute;
      top: 0;
      width: 100%;
      text-align: right;
      line-height: 60px;
    }

    &.nav-hidden {
      width: 80px;
    }

    &.nav-shown {
      width: 285px;

      .logo {
        // background-position-x: 25px;

        a {
          font-size: 0;
        }
      }

      .collapse {
        display: none;
      }

      li.logout {
        display: block;
        bottom: 0;
        // background-position: 23px;
      }
    }
  }
}

@media only screen and (min-width: $bp_desktop_xs + 1px) {
  .left-menu-wrapper {
    li {
      height: 80px;
      line-height: 80px;

      &.user-settings {
        bottom: 140px;
        border-top: 1px solid #212529;
      }
    }

    .logo a {
      height: 80px;
      background-color: #b5975a;
      background-image: url("./campaings-logo.png");
    }

    .close-btn {
      display: none;
    }

    &.nav-shown {
      li.logo {
        // background-position-x: 25px;
        background-position-y: center;

        a {
          color: #fff;
          font-size: 14px;
          text-transform: uppercase;
        }
      }

      .collapse {
        display: block;
        border-top: 1px solid #212529;
        // background-position-x: 25px;
      }

      .logout {
        display: block;
        bottom: 80px;
      }
    }
  }
}
