@import '../../../Vars.scss';

.searchable-combo-list {
  .search-wrapper {
    border: 1px solid #dfdfdf;
    margin: 15px;
    padding: 1px;
  }

  .search-input {
    height: 40px;
    border: none;

    &::placeholder {
      color: #8d8d8d;
      font-size: 12px;
      transform: translate(0, -3px);
    }
  }

  .combo-list {
    margin: 10px 0;
    border-radius: 0;
    height: 200px;
    width: calc(100% - #{15px});
    overflow: auto;

    & a {
      outline: none;
      height: 40px;
      padding: 12px 30px;
      border-radius: 0 !important;
      border: none;
      line-height: 16px;

      &:hover {
        background-color: #d6eff5;
        color: #2f2e32;
      }
    }
  }

  .clear-button {
    height: 100%;
    width: 35px;
    background-image: url('./img/closeIcon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0.8;
    transform: opacity $hover_animation_duration;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
