@import 'Vars.scss';

/* Form Controls */
.form-control,
.btn {
  border-radius: 0;
  border: 1px solid #ced4da;
}

input.form-control:hover {
  cursor: default;
}

a,
a:focus {
  outline: none !important;
  text-decoration: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e2e2e255;
  border-radius: 4px;
  transform: translate(-10px, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ababab;
}

/* Override bootrsap theme */

.btn {
  padding: 3px 24px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 600;
  font-family: $font_family_main;
}

/* On Focus */
.form-control:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* On Hover */
.form-control:hover,
.btn:hover {
  cursor: pointer;
  text-decoration: none;
}

.btn-dark {
  background-color: #2f2e32;
  color: #fff;
  border: 2px solid #2f2e32;

  &:hover {
    background-color: #fff;
    color: #2f2e32;
    border: 2px solid #2f2e32;
  }

  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show > .btn-dark.dropdown-toggle:focus {
    box-shadow: none;
  }
}

.btn-light {
  border: 2px solid #dfdfdf;
  background-color: #fff;

  &:hover {
    background-color: white;
    border: 2px solid #2f2e32;
  }

  &:not(:disabled):not(.disabled):active,
  .btn-light:not(:disabled):not(.disabled).active,
  .show > .btn-light.dropdown-toggle {
    background-color: #2f2e32;
    border: 2px solid #2f2e32;
    color: #fff;
  }

  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show > .btn-dark.dropdown-toggle:focus {
    box-shadow: none;
  }
}

.popover {
  border-radius: 0;
  border: none;
  box-shadow: 0 0 10px #0002;
}
